ZHIPU_API_KEY=xxxxxxxxxxxxxxxxxx
ZHIPU_API_BASE=https://open.bigmodel.cn/api/paas/v4/
ZHIPU_MODEL=glm-4
ZHIPU_TEMPERATURE=0.05

azuer_tts_key=xxxxxxxxxxxxxxxxxxxx
azuer_tts_url=https://llm-tts.openai.azure.com/
azuer_tts_deployment=llm-tts

LANGCHAIN_TRACING_V2=True
LANGCHAIN_API_KEY=lsv2_pt_xxxxxxxxxxxxxxxxxxx