Django
langchain ~=0.2.1
langchain-core~=0.2.1
langchain-community~=0.2.1
langchain-experimental~=0.0.59
langchain-openai~=0.1.7
langgraph~=0.0.55
python-dotenv
langchain-zhipuai
langdetect
presidio-anonymizer
presidio-analyzer
Faker
fasttext