{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Navigation Example</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'create_collection' %}">创建集合</a></li>
            <li><a href="{% url 'upload_file' %}">上传文档</a></li>
            <li><a href="">召回测试</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
